@model AdminTurismoERP.Tour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadMaxima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadMaxima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad.CapacidadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guia.GuiaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
